.input {
  outline: none;
  border: none;
  background-color: transparent;
  height: 44px;
  font-size: var(--font-size-md);
  cursor: pointer;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  background-color: var(--color-neutral-100);
  height: 100%;
  border-radius: var(--radius-xl);
  padding: 0px var(--space-lg);
}

.inputContainer:not(:disabled):focus-within {
  /* outline: 1px solid var(--color-neutral-500); */
  box-shadow: 1px 1px 1px 1px var(--color-neutral-500);
}

.inputContainer[data-disabled] {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.icon[data-disabled] {
  opacity: var(--opacity-disabled);
  color: var(--color-neutral-500);
}

.errorMessage {
  color: var(--color-red-500);
  font-size: var(--font-size-sm);
  margin-top: var(--space-xs);
  margin-left: var(--space-lg);
}
