.button {
  border-radius: var(--radius-xl);
  border: none;
  cursor: pointer;
}

.sm {
  min-height: 44px;
  padding: 0px var(--space-md);
}

.md {
  min-height: 48px;
  padding: 0px var(--space-lg);
}

.lg {
  min-height: 52px;
  padding: 0px var(--space-xl);
}

.fullWidth {
  width: 100%;
}

.primary {
  background-color: var(--color-green-1000);
  color: var(--color-green-100);
}
.secondary {
  background-color: var(--color-green-100);
  color: var(--color-green-1000);
}
.tertiary {
  background-color: var(--color-red-700);
  color: var(--color-red-200);
}
.ghost {
  background-color: transparent;
  color: var(--color-green-1000);
  border: 1px solid var(--color-green-200);
}
