@import './color-tokens.css';
@import './semantic-tokens.css';
@import './spacing-tokens.css';
@import './radius-tokens.css';
@import './shadow-tokens.css';
@import './typography-tokens.css';
@import './text-styles.css';

/* Remove default browser margin so the header can sit flush to the viewport edges. */
body {
  margin: 0;
  font-family: var(--font-family-body);

  background-color: var(--color-background-page);
  /* padding: 1rem; */
  /* padding-top: 0; */
}
